<div class="header-container">
    <div class="navbar">

        <img class="logo" src="assets/imgs/Logo_text_v2.svg" alt="logo">

        <!-- <div class="flex menu">
            <a>Home</a>
            <a>Upload</a>
        </div> -->

        <button pButton [routerLink]="['/home']" fragment="upload" type="button" label="Get started"
            class="p-button-sm get-started"></button>

    </div>

    <div class="flex introduction">
        <div class="header-description">
            <h1 class="title">Protect your files, protect your privacy</h1>
            <h2 class="subtitle">Upload and secure your files - Well send you a share link</h2>
            <p>Lockfer allows you to share confidential or sensitive files. Thanks to its encryption system, your data
                is no longer readable until your correspondent accesses it.</p>
            <div class="flex btn-container">
                <button pButton type="button" [routerLink]="['/home']" fragment="upload" icon="pi pi-arrow-right"
                    iconPos="right" label="Get started" class="p-button-sm"></button>
                <button pButton type="button" label="How it works ?" [routerLink]="['/home']" fragment="works"
                    class="p-button-sm secondary"></button>
            </div>
        </div>

        <img class="img-flex" src="assets/imgs/secure.svg" alt="secure">
    </div>

</div>