<div class="how-container">


    <h1 id="works">How it works ?</h1>


    <div class="flex left">
        <div class="card">
            <div class="description">
                <h3>UPLOAD YOUR FILES</h3>
                <p>Select the files to be protected and launch the upload to send them to our servers so that your data
                    can be processed. Then, please wait files encryption...</p>
            </div>
            <img src="assets/imgs/upload.svg" alt="upload">
        </div>
        <h1 class="left">1.</h1>
    </div>

    <div class="flex right">
        <h1 class="right">2.</h1>
        <div class="card">
            <div class="description">
                <h3>FILES ENCRYPTION</h3>
                <p>Once the files are saved, they will be encrypted so that they cannot be accessed by anyone. A
                    decryption key will then be given to you so that you can share these encrypted files. Encrypted
                    files will available during 24 hours. After this duration, those files will be <b>deleted</b>.</p>
            </div>
            <img src="assets/imgs/server.svg" alt="upload">
        </div>
    </div>

    <div class="flex left">
        <div class="card">
            <div class="description">
                <h3>SHARE YOUR LINK</h3>
                <p>You will then be given a sharing link to share the previously encrypted files. <b>Be careful !</b>
                    This
                    sharing link will give anyone who has it free access to your encrypted files. Be sure to keep it in
                    a safe place and share it only with the recipients.</p>
            </div>
            <img src="assets/imgs/share.svg" alt="upload">
        </div>
        <h1 class="left">3.</h1>
    </div>

</div>