<div class="loader-container dialog">

    <div class="navbar flex">

        <img class="logo" src="assets/imgs/Logo_text_v2.svg" alt="logo">

        <!-- <div class="flex menu">
            <a>Home</a>
            <a>Upload</a>
        </div> -->

        <button pButton type="button" label="Get started" class="p-button-sm get-started"></button>

    </div>

    <div class="loading" *ngIf="decrypting">
        <span class="loader"></span>

        <h2 class="description">
            Decrypting your files...
        </h2>
    </div>

    <div class="ready-container" *ngIf="ready && !error">
        <i class="pi pi-check"></i>

        <h2 class="ready">Your archive is ready to download !</h2>

        <p-button class="share" label="Download" icon="pi pi-download" iconPos="right" (onClick)="downloadFiles()">
        </p-button>
    </div>

    <div class="error-container" *ngIf="error">

        <ng-container [ngSwitch]="errorStatus">

            <ng-container *ngSwitchCase="404">

                <img src="assets/imgs/not_found.svg" alt="not found" class="not-found">

                <h2 class="error" style="margin: 0;">Your files has been expired...</h2>

            </ng-container>

            <ng-container *ngSwitchDefault>
                <i class="pi pi-times-circle"></i>

                <h2 class="error">Error during files decryption</h2>

                <p>{{errorMessage}}
                </p>


            </ng-container>

        </ng-container>





        <div class="flex">
            <p-button class="share button" label="Retry" icon="pi pi-sync" iconPos="right" (onClick)="retry()">
            </p-button>

            <button pButton type="button" class="p-button home button" label="Go home" icon="pi pi-arrow-right"
                iconPos="right" [routerLink]="'home'"></button>
        </div>


    </div>




</div>